header { border-bottom: 1px solid #666;}
hr { margin-top: 5px; margin-bottom: 5px;}
.page-header {margin-bottom: 5px;}
.action-group a {text-decoration: none; color: #666; }
#login {width: 500px; margin: 0 auto; margin-top: 30px;}
div[role=login] {background-color: #444;}