header {
    background: url('../img/head_logo.png') 10px;
    background-repeat: no-repeat;
    height: 75px;
}
.cd-navi {
    margin-top: 25px;
}
footer {}
div[role=main] {}
#jumbo {
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}